/* Custom font size for smaller screens */
@media (max-width: 767px) {

    .envelope-title {
        font-size: 1.5rem;
    }

    .blink-span {
        font-size: 1rem;
    }

    .gift-box-text-typing-animation {
        font-size: 1rem;
    }
}

/* Custom font size for medium screens */
@media (min-width: 768px) and (max-width: 991px) {

    .envelope-title {
        font-size: 1.5rem;
    }

    .blink-span {
        font-size: 1rem;
    }

    .gift-box-text-typing-animation {
        font-size: 1rem;
    }
}

/* Custom font size for large screens */
@media (min-width: 992px) and (max-width: 1199px) {

    .envelope-title {
        font-size: 2rem;
    }

    .blink-span {
        font-size: 1.5rem;
    }

    .gift-box-text-typing-animation {
        font-size: 1.5rem;
    }
}

/* Custom font size for extra-large screens */
@media (min-width: 1200px) {

    .envelope-title {
        font-size: 2rem;
    }

    .blink-span {
        font-size: 1.5rem;
    }

    .gift-box-text-typing-animation {
        font-size: 1.5rem;
    }
}